header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ef32d9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #89fffd,
    #ef32d9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #89fffd,
    #ef32d9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.img {
  order: 1; /* This will place the img on the left */
}

.count {
  order: 2; /* This will place the count on the right */
}

img {
  width: 100px;
  height: 100px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
}
.welcome {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}
